<ng-container *ngIf="tvShow">
    <app-slider [tvShows]="[tvShow]" [isBanner]="true"></app-slider>

    <div class="card">
        <p-tabView>
            <p-tabPanel header="Overwiev">
                <div class="grid">
                    <div class="col-12 md:col-3 lg:col-3">
                        <img [src]="'https://image.tmdb.org/t/p/w780/' + tvShow.poster_path" [alt]="tvShow.name"
                             class="poster" />
                    </div>
                    <div class="col-12 md:col-9 lg:col-9">
                        <h2>Overview</h2>
                        <p class="overview">{{ tvShow.overview }}</p>
                        <div class="stat">
                            <div class="label">Release Date:</div>
                            <div class="value">
                                {{ tvShow.first_air_date | date : 'dd.MM.yyyy' }}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="label">Language:</div>
                            <div class="value">
                                {{ tvShow.original_language | uppercase }}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="label">Revenue:</div>
                            <div class="value">
                            </div>
                        </div>
                        <div class="stat">
                            <div class="label">Duration:</div>
                            <div class="value">
                            </div>
                        </div>
                        <div class="stat">
                            <div class="label">Satatus:</div>
                            <div class="value">
                            </div>
                        </div>
                        <div class="stat">
                            <div class="label">Genres:</div>
                            <div class="value">

                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        <p-tabPanel header="Videos">
            <div class='grid'>
                <ng-container *ngFor='let tvShowVideo of tvShowVideo'>
                    <div class='col-12 md:col-4 lg:col-4'>
                        <app-tv-show-video [key]='tvShowVideo.key' [site]='tvShowVideo.site'></app-tv-show-video>
                    </div>
                </ng-container>
            </div>
        </p-tabPanel>
            <p-tabPanel header="Photos">
                <div class='grid'>
                    <ng-container *ngFor='let tvShowImages of tvShowImages?.backdrops' >
                        <div class='col-12 md:col-4 lg:col-4'>
                            <p-image
                                    [src]="'https://image.tmdb.org/t/p/w780/' + tvShowImages.file_path"
                                    alt="Image"
                                    width="100%"
                                    [preview]="true"
                            ></p-image>
                        </div>
                    </ng-container>
                </div>
            </p-tabPanel>
        </p-tabView>
        <p-carousel [numVisible]="5" *ngIf='tvShowCredits' [value]='tvShowCredits.cast' >
            <ng-template let-actor pTemplate="item">
                <div *ngIf='actor.profile_path' class="actor">
                    <img [src]="'https://image.tmdb.org/t/p/w780/' + actor.profile_path" [alt]="actor.name" />
                    <span>{{ actor.name }}</span>
                </div>
            </ng-template>
        </p-carousel>
        <app-movies-item [tvShows]="similarTvShows"></app-movies-item>
    </div>
</ng-container>