<header class="header">
    <nav class="header-nav">
        <a href="" class="header-logo">
            <img class="photo" src="../../../assets/images/logo.jpeg" alt="">
        </a>
        <ul class="header-list">
            <li class="header-pages"><a class="header-pages-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">home</a></li>
            <li class="header-pages"><a class="header-pages-link" routerLinkActive="active"
                    routerLink="/movies">movies</a></li>
            <li class="header-pages"><a class="header-pages-link" routerLink="/shows">TV shows</a></li>
            <li class="header-pages"><a class="header-pages-link" routerLink="/genres">genres</a></li>
        </ul>
    </nav>
</header>