<ng-container *ngIf='itemData'>
    <a class="item" [routerLink]="'/movie/'+itemData.id">
        <div class="item-rating">
            <i class="app-icon">star</i>
            <span>{{itemData.vote_average}}</span>/10
        </div>
        <div class="item-image">
            <img
                   *ngIf="itemData.backdrop_path !=null" [alt]="itemData.title" [src]="'https://image.tmdb.org/t/p/w780/' + itemData.backdrop_path" />
            <img *ngIf="itemData.backdrop_path == null" [alt]="itemData.title" src='./assets/images/noİmage..png' />

        </div>
        <div class="item-title">{{itemData.title}}</div>
    </a>
</ng-container>