/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

// ! init css
@import './styles/init';
@import "./styles/colors";


//! google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//! google material icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

//! prime flex
@import "~primeflex/primeflex.css";


@import "primeng/resources/themes/mdc-dark-deeppurple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



.app-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.container {
    margin: 0.5rem;
    padding: 0.5rem;
}