<div class="container" *ngIf="tvShows">
    <div class="grid">
        <div class="col-12">
            <div class="p-fluid">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
                  class='input'
                  type="text"
                  pInputText
                  placeholder="Search"
                  [(ngModel)]='searchValue'
                  (keyup)='searchChanged()'
          />
        </span>
            </div>
        </div>
    </div>
    <div>
        <app-movies-item [tvShows]='tvShows' title="tvShow"></app-movies-item>

        <p-paginator  (onPageChange)="paginate($event)" [rows]="24" [totalRecords]="10000"></p-paginator>
    </div>
</div>
